{% extends 'index.html' %}

{% block title %}Change Password{% endblock title%}

{% block customcss %} {% load static %}<link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endblock customcss %}


{% block new_page %}
<div class="main-body" id="particles-js"></div>
<div >
      <form method='POST' class="form-body hoverable">{% csrf_token %}
        <h4>CHANGE PASSWORD</h4>

        {% if messages %}
        {% for m in messages %}

        {% if m.tags == 'success' %}
        <div>
        <p class="center-align green-text">{{m}}</p>
        </div>
        <div class="progress white">
        <div class="indeterminate green lighten-3"></div>
        </div>

        {% endif %}

        {% if m.tags == 'error' %}
        <div>
        <p class="center-align red-text">{{m}}</p>
        </div>
        <div class="progress white">
        <div class="indeterminate red lighten-3"></div>
        </div>

        {% endif %}

        {% endfor %}

        {% endif %}
      {% for field in form %}
      <div class="input-field">
      <input type="{{field.field.widget.input_type}}", name="{{field.html_name}}", id="{{field.id_for_label}}", class='validate'>
      <label for="{{field.id_for_label}}">{{ field.html_name }}</label>
      </div>
      {% if field.errors %}
      {% for error in field.errors %}
      <p class="red-text">{{error}}</p>
      {% endfor %}
      {% endif %}
      {% endfor %}
      <button type="submit", class="btn waves-effect waves-light deep-purple darken-2 white-text">Login</button>
      </form>

</div>

{% block customjs %}
<script type="text/javascript" src="{% static 'js/particles.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock customjs %}

{% endblock new_page %}
