{% extends 'index.html' %}

{% block title %}All Classes{% endblock title %}

{% block customcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/klass/classes.css' %}">
<link rel="stylesheet" href="{% static 'css/academics/subjects/subject_list.css' %}">
{% endblock customcss %}


{% block content %}


<div class="register-bg">
  <div class="classes-boi hoverable grey-text text-darken-2">
      {% if messages %}

      <ul class="messages">
          {% for message in messages %}
          <div>
          <li class="center-align green-text">{{message}}</li>
          </div>
          <div class="progress white">
          <div class="indeterminate green lighten-2">
          </div>
          </div>
          {% endfor %}
      </ul>

      {% endif %}

      <h2 class="my-heada">CLASSES</h2>

      <div class="my-text">

        <p>Below is a list of all the classes in this system. Click on the name to be taken to their detail pages. Delete and update button are also available beside the name of the class.</p> <hr>
      </div>

      <div class="row">

        <div class="col xl16 l12 m12 s12">

          <div class="my-list-klasses">
            {% for obj in klasses %}
            <h4><a href="{{obj.get_absolute_url}}" class="my-link">{{obj}}</a></h4>
            <a href="{{obj.get_delete_url}}" class="btn red white-text waves-effect my-btn boto">Delete</a>
            <a href="{{obj.get_update_url}}" class="btn teal white-text waves-effect my-btn boto">Update</a>

            {% endfor %}
            <br>
            <br>
            <a href="{% url 'klasses_create_view' %}" class="btn waves-effect waves-teal grey lighten-3 teal-text dam">ADD CLASS</a>

          </div>

        </div>

    </div>

  </div>
</div>
{% endblock content %}

{% block customjs %} {% endblock customjs %}
