{% extends 'index.html' %}

{% block title %}Subjects | All Subjects{% endblock title %}

{% block customcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/userrs.css' %}">
<link rel="stylesheet" href="{% static 'css/academics/subjects/subject_list.css' %}">
<link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
{% endblock customcss %}


{% block content %}


  <div class="register-bg">
    <div class="classes-boi hoverable grey-text text-darken-2">
      {% if messages %}

      <ul class="messages">
          {% for message in messages %}
          <li class="center-align green-text text-darken-2">{{message}}</li>
          <div class="progress white">
          <div class="indeterminate green lighten-2"></div>
          </div>

          {% endfor %}
      </ul>
      {% endif %}

      {% if subject %}

      <h2 class="my-heada">SUBJECTS</h2>


      <div class="my-text">
        <p>Below is list of all the subjects registered in the system. Click on one to find more details.</p> <hr>
      </div>

      <div class="row">

      <div class="col xl16 l12 m12 s12">

        <div class="my-list">
          {% for sub in subject %}


          <p><a href="{{sub.get_absolute_url}}">{{sub.name}}</a></p>


          {% endfor %}
        </div>
        <div class="col offset-s3 s6">
          <a href="{% url 'subject-create' %}" class="btn waves-red boto">Add Subject</a>
        </div>

      </div>

      </div>

      {% else %}

      <h2 class="my-heada">SUBJECTS</h2>


      <div class="my-text">
        <p>No subjects registered in the system at the moment</p> <hr>
      </div>
      <div class="col offset-s3 s6">
        <a href="{% url 'subject-create' %}" class="btn waves-red boto">Add Subject</a>
      </div>

      {% endif %}


  </div>
  </div>


{% endblock content %}

{% block customjs %}
{% endblock customjs %}
