{% extends 'index.html' %}

{% block title %}Select a class to began marking attendence{% endblock title %}

{% block customcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/klass/classes.css' %}">
<link rel="stylesheet" href="{% static 'css/academics/subjects/subject_list.css' %}">
{% endblock customcss %}


{% block content %}


<div class="register-bg">
  <div class="classes-boi hoverable grey-text text-darken-2">
      {% if messages %}

      <ul class="messages">
          {% for message in messages %}
          <div>
          <li class="center-align green-text">{{message}}</li>
          </div>
          <div class="progress white">
          <div class="indeterminate green lighten-2">
          </div>
          </div>
          {% endfor %}
      </ul>

      {% endif %}

      <h2 class="my-heada">ATTENDENCE</h2>

      <div class="my-text">

        <p>Select a class whose student's attendence you wish to mark</p> <hr>
      </div>

      <div class="row">

        <div class="col xl16 l12 m12 s12">

          <div class="my-list-klasses">
            {% for obj in klass %}
            <h4><a href="/academics/attendence/klass/{{obj.id}}" class="my-link">{{obj}}</a></h4>

            {% endfor %}
            <br>
            <br>
            

            <a href="{% url 'academics_view' %}" class="btn waves-effect waves-teal grey lighten-3 teal-text dam">Go back</a>


          </div>

        </div>

    </div>

  </div>
</div>
{% endblock content %}

{% block customjs %} {% endblock customjs %}
